DJANGO_SETTINGS_MODULE=new_site_dbp.settings.local
CELERY_BROKER_URL=amqp://broker:5672//
# Please choose postgres or sqlite as your DB:
# DATABASE_URL=postgres://new_site_dbp:password@db:5432/new_site_dbp
# DATABASE_URL=sqlite:///db.sqlite3
